<div class="absolute z-40 top-0 bg-gray-800/70 mt-2.5 m-2.5 p-2.5 rounded-2xl backdrop-blur-sm right-0 review-card">
  <div class="action-button absolute top-0 right-0 mr-0 mt-0">
    <button class="bg-gray-800/70 rounded-full p-1.5">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
        />
      </svg>
    </button>
  </div>
  <div class="opacity-0 review-section">
    <div class="review-section-title mb-3">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Rotten_Tomatoes_logo.svg"
        alt="fresh"
        class="review-logo"
      />
    </div>
  </div>
</div>
