<div class="relative top-0 bg-gray-800/70 mt-6 rounded-2xl backdrop-blur-sm right-0 w-fit review-card-large p-6">
  <div class="review-section-large flex-col">
    <div class="review-section-title mb-3">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Rotten_Tomatoes_logo.svg"
        alt="fresh"
        class="review-logo"
      />
    </div>
    <div class="scores flex w-full">
      <!--<div class="tomatometer score flex mt-1.5 mr-8 w-fit">
        <div class="flex-none mr-1.5 self-center">
          <img
            src="https://www.rottentomatoes.com/assets/pizza-pie/images/icons/tomatometer/tomatometer-fresh.149b5e8adc3.svg"
            alt="score-icon"
            class="review-icon"
          />
        </div>
        <div class="score-progress">
          <div class="text-xxs flex items-center bg-gray-700 w-fit rounded-md p-0 mb-1 relative score-tooltip">
            <p class="text-left text-gray-300 mt-1 mb-1 ml-2 mr-2">--</p>
          </div>
          <progress id="file" value="0" max="100" class="w-full bg-gray-700 rounded-md text-white h-4"></progress>
          <div>
            <p class="text-gray-300 text-xxs mt-1.5 text-right score-count">-- reviews</p>
          </div>
        </div>
      </div>

      <div class="tomatometer score flex mt-1.5 w-fit">
        <div class="flex-none mr-1.5 self-center">
          <img
            src="https://www.rottentomatoes.com/assets/pizza-pie/images/icons/tomatometer/tomatometer-fresh.149b5e8adc3.svg"
            alt="score-icon"
            class="review-icon"
          />
        </div>
        <div class="score-progress">
          <div class="text-xxs flex items-center bg-gray-700 w-fit rounded-md p-0 mb-1 relative z-50 score-tooltip">
            <p class="text-left text-gray-300 mt-1 mb-1 ml-2 mr-2">--</p>
          </div>
          <progress id="file" value="0" max="100" class="w-full bg-gray-700 rounded-md text-white h-4"></progress>
          <div>
            <p class="text-gray-300 text-xxs mt-1.5 text-right score-count">-- reviews</p>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
