<div class="absolute z-40 top-0 bg-gray-800/70 mt-2.5 m-2.5 p-2.5 rounded-2xl backdrop-blur-sm right-0 review-card">
  <div class="action-button absolute top-0 right-0 mr-0 mt-0">
    <button class="bg-gray-800/70 rounded-full p-1.5">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
        />
      </svg>
    </button>
  </div>
  <div class="opacity-0 review-section">
    <div class="review-section-title mb-3">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Rotten_Tomatoes_logo.svg"
        alt="fresh"
        class="review-logo"
      />
    </div>
    <div class="tomatometer score flex mt-1.5">
      <div class="flex-none mr-1.5 self-center">
        <img
          src="https://www.rottentomatoes.com/assets/pizza-pie/images/icons/tomatometer/tomatometer-fresh.149b5e8adc3.svg"
          alt="fresh"
          class="rottentomato-review-icon"
        />
      </div>
      <div class="score-progress">
        <div class="text-xxs flex items-center bg-gray-700 w-fit rounded-md p-0 mb-1 relative z-50 score-tooltip">
          <p class="text-left text-gray-300 mt-1 mb-1 ml-2 mr-2">--</p>
        </div>
        <progress id="file" value="0" max="100" class="w-full bg-gray-700 rounded-md text-white h-4"></progress>
        <div>
          <p class="text-gray-300 text-xxs mt-1.5 text-right">142 reviews</p>
        </div>
      </div>
    </div>
    <div class="audience score flex mt-1.5">
      <div class="flex-none mr-1.5 self-center">
        <img
          src="https://www.rottentomatoes.com/assets/pizza-pie/images/icons/tomatometer/tomatometer-rotten.f1ef4f02ce3.svg"
          alt="rotten"
          class="rottentomato-review-icon"
        />
      </div>
      <div class="score-progress">
        <div class="text-xxs flex items-center bg-gray-700 w-fit rounded-md p-0 mb-1 score-tooltip">
          <p class="text-left text-gray-300 mt-1 mb-1 ml-2 mr-2">--</p>
        </div>
        <progress id="file" value="0" max="100" class="w-full bg-gray-700 rounded-md text-white h-4"></progress>
        <div>
          <p class="text-gray-300 text-xxs mt-1.5 text-right">500+ reviews</p>
        </div>
      </div>
    </div>
  </div>
</div>
