<div class="tomatometer score flex mt-1.5">
  <div class="flex-none mr-1.5 self-center">
    <img src="https://google.com" alt="score-icon" class="review-icon" />
  </div>
  <div class="score-progress">
    <div class="text-xxs flex items-center bg-gray-700 w-fit rounded-md p-0 mb-1 relative z-50 score-tooltip">
      <p class="text-left text-gray-300 mt-1 mb-1 ml-2 mr-2">--</p>
    </div>
    <progress id="file" value="0" max="100" class="w-full bg-gray-700 rounded-md text-white h-4"></progress>
    <div>
      <p class="text-gray-300 text-xxs mt-1.5 text-right score-count">-- reviews</p>
    </div>
  </div>
</div>
